$(function(){

// VARIABLES ---------------------------------------------------------
  var isDevSite = false;
  if($('#isDevSite').length != 0) {
    isDevSite = true;
  }
  var defaultShoeView = '01',
      defaultShoeSize = '8',
      defaultShoeColor = 'white',
      defaultSaddleColor = 'black',
      defaultLacesColor = 'black';
  var defaultShoePrice = {{ settings.shoe_builder_shoe_price }},
      defaultSaddlePrice = {{ settings.shoe_builder_saddle_price }},
      defaultLacesPrice = {{ settings.shoe_builder_laces_price }};

  var shoeVariantArray = { shoeblack10: '20850630085', shoeblack105: '20850630149', shoeblack11: '20850630213', shoeblack115: '20850630277', shoeblack12: '20850630341', shoeblack13: '20850630405', shoeblack14: '20850630469', shoeblack8: '20850629829', shoeblack85: '20850629893', shoeblack9: '20850629957', shoeblack95: '20850630021', shoegrey10: '20849453701', shoegrey105: '20849453765', shoegrey11: '20849453829', shoegrey115: '20849453893', shoegrey12: '20849453957', shoegrey13: '20849454021', shoegrey14: '20849454085', shoegrey8: '20849453445', shoegrey85: '20849453509', shoegrey9: '20849453573', shoegrey95: '20849453637', shoewhite10: '20475592773', shoewhite105: '20475592965', shoewhite11: '20475593157', shoewhite115: '20475593925', shoewhite12: '20475593349', shoewhite13: '20475593541', shoewhite14: '20475593733', shoewhite8: '20475592005', shoewhite85: '20475592197', shoewhite9: '20475592389', shoewhite95: '20475592581' };

  var saddleVariantArray = { saddleazure10: '20852915781', saddleazure105: '20852915845', saddleazure11: '20852915909', saddleazure115: '20852915973', saddleazure12: '20852916037', saddleazure13: '20852916101', saddleazure14: '20852916165', saddleazure8: '20506740165', saddleazure85: '20852915589', saddleazure9: '20852915653', saddleazure95: '20852915717', saddleblack10: '20852936965', saddleblack105: '20852937029', saddleblack11: '20852937093', saddleblack115: '20852937221', saddleblack12: '20852937349', saddleblack13: '20852937413', saddleblack14: '20852937541', saddleblack8: '20852936517', saddleblack85: '20852936645', saddleblack9: '20852936709', saddleblack95: '20852936837', saddleburntorange10: '20853384261', saddleburntorange105: '20853384325', saddleburntorange11: '20853384453', saddleburntorange115: '20853384517', saddleburntorange12: '20853384581', saddleburntorange13: '20853384645', saddleburntorange14: '20853384709', saddleburntorange8: '20853384005', saddleburntorange85: '20853384069', saddleburntorange9: '20853384133', saddleburntorange95: '20853384197', saddlegold10: '20877515909', saddlegold105: '20877515973', saddlegold11: '20877516037', saddlegold115: '20877516101', saddlegold12: '20877516165', saddlegold13: '20877516229', saddlegold14: '20877516293', saddlegold8: '20877515653', saddlegold85: '20877515717', saddlegold9: '20877515781', saddlegold95: '20877515845', saddlecharcoal10: '20853443525', saddlecharcoal105: '20853443589', saddlecharcoal11: '20853443653', saddlecharcoal115: '20853443781', saddlecharcoal12: '20853443909', saddlecharcoal13: '20853444037', saddlecharcoal14: '20853444101', saddlecharcoal8: '20853443013', saddlecharcoal85: '20853443077', saddlecharcoal9: '20853443269', saddlecharcoal95: '20853443333', saddlechocolate10: '20853788869', saddlechocolate105: '20853788933', saddlechocolate11: '20853788997', saddlechocolate115: '20853789061', saddlechocolate12: '20853789125', saddlechocolate13: '20853789189', saddlechocolate14: '20853789253', saddlechocolate8: '20853788613', saddlechocolate85: '20853788677', saddlechocolate9: '20853788741', saddlechocolate95: '20853788805', saddlecobalt10: '20876348229', saddlecobalt105: '20876348357', saddlecobalt11: '20876348485', saddlecobalt115: '20876348549', saddlecobalt12: '20876348677', saddlecobalt13: '20876348741', saddlecobalt14: '20876348869', saddlecobalt8: '20876347909', saddlecobalt85: '20876347973', saddlecobalt9: '20876348101', saddlecobalt95: '20876348165', saddlecrimson10: '20876379141', saddlecrimson105: '20876379205', saddlecrimson11: '20876379269', saddlecrimson115: '20876379333', saddlecrimson12: '20876379397', saddlecrimson13: '20876379461', saddlecrimson14: '20876379525', saddlecrimson8: '20876378885', saddlecrimson85: '20876378949', saddlecrimson9: '20876379013', saddlecrimson95: '20876379077', saddleforest10: '20876406149', saddleforest105: '20876406213', saddleforest11: '20876406277', saddleforest115: '20876406341', saddleforest12: '20876406405', saddleforest13: '20876406469', saddleforest14: '20876406533', saddleforest8: '20876405893', saddleforest85: '20876405957', saddleforest9: '20876406021', saddleforest95: '20876406085', saddlegrey10: '20876443077', saddlegrey105: '20876443141', saddlegrey11: '20876443205', saddlegrey115: '20876443269', saddlegrey12: '20876443333', saddlegrey13: '20876443397', saddlegrey14: '20876443461', saddlegrey8: '20876442821', saddlegrey85: '20876442885', saddlegrey9: '20876442949', saddlegrey95: '20876443013', saddlekelly10: '20876484933', saddlekelly105: '20876484997', saddlekelly11: '20876485061', saddlekelly115: '20876485125', saddlekelly12: '20876485189', saddlekelly13: '20876485253', saddlekelly14: '20876485317', saddlekelly8: '20876484677', saddlekelly85: '20876484741', saddlekelly9: '20876484805', saddlekelly95: '20876484869', saddlelatte8: '20876527493', saddlelatte85: '20876527621', saddlelatte9: '20876527685', saddlelatte95: '20876527749', saddlelatte10: '20876527813', saddlelatte105: '20876527877', saddlelatte11: '20876528005', saddlelatte115: '20876528069', saddlelatte12: '20876528133', saddlelatte13: '20876528197', saddlelatte14: '20876528261', saddlelime10: '20876588485', saddlelime105: '20876588549', saddlelime11: '20876588613', saddlelime115: '20876588677', saddlelime12: '20876588741', saddlelime13: '20876588805', saddlelime14: '20876588869', saddlelime8: '20876588229', saddlelime85: '20876588293', saddlelime9: '20876588357', saddlelime95: '20876588421', saddlemaroon10: '20876609541', saddlemaroon105: '20876609605', saddlemaroon11: '20876609669', saddlemaroon115: '20876609733', saddlemaroon12: '20876609797', saddlemaroon13: '20876609861', saddlemaroon14: '20876609925', saddlemaroon8: '20876609285', saddlemaroon85: '20876609349', saddlemaroon9: '20876609413', saddlemaroon95: '20876609477', saddlemint10: '20876646789', saddlemint105: '20876646853', saddlemint11: '20876646917', saddlemint115: '20876646981', saddlemint12: '20876647045', saddlemint13: '20876647109', saddlemint14: '20876647173', saddlemint8: '20876646533', saddlemint85: '20876646597', saddlemint9: '20876646661', saddlemint95: '20876646725', saddleusablue10: '20876686021', saddleusablue105: '20876686085', saddleusablue11: '20876686149', saddleusablue115: '20876686213', saddleusablue12: '20876686277', saddleusablue13: '20876686341', saddleusablue14: '20876686405', saddleusablue8: '20876685765', saddleusablue85: '20876685829', saddleusablue9: '20876685893', saddleusablue95: '20876685957', saddleorange10: '20876781445', saddleorange105: '20876781509', saddleorange11: '20876781573', saddleorange115: '20876781637', saddleorange12: '20876781701', saddleorange13: '20876781765', saddleorange14: '20876781829', saddleorange8: '20876781189', saddleorange85: '20876781253', saddleorange9: '20876781317', saddleorange95: '20876781381', saddlepink10: '20877207109', saddlepink105: '20877207173', saddlepink11: '20877207237', saddlepink115: '20877207301', saddlepink12: '20877207365', saddlepink13: '20877207429', saddlepink14: '20877207493', saddlepink8: '20877206853', saddlepink85: '20877206917', saddlepink9: '20877206981', saddlepink95: '20877207045', saddleplum10: '20877233477', saddleplum105: '20877233541', saddleplum11: '20877233605', saddleplum115: '20877233733', saddleplum12: '20877233861', saddleplum13: '20877233989', saddleplum14: '20877234117', saddleplum8: '20877233029', saddleplum85: '20877233093', saddleplum9: '20877233221', saddleplum95: '20877233285', saddlered10: '20877256325', saddlered105: '20877256389', saddlered11: '20877256453', saddlered115: '20877256517', saddlered12: '20877256581', saddlered13: '20877256645', saddlered14: '20877256709', saddlered8: '20877256069', saddlered85: '20877256133', saddlered9: '20877256197', saddlered95: '20877256261', saddlesky10: '20877305349', saddlesky105: '20877305541', saddlesky11: '20877305605', saddlesky115: '20877305669', saddlesky12: '20877305733', saddlesky13: '20877305797', saddlesky14: '20877305861', saddlesky8: '20877305093', saddlesky85: '20877305157', saddlesky9: '20877305221', saddlesky95: '20877305285', saddleteal10: '20877377605', saddleteal105: '20877377669', saddleteal11: '20877377733', saddleteal115: '20877377797', saddleteal12: '20877377861', saddleteal13: '20877377925', saddleteal14: '20877377989', saddleteal8: '20877377349', saddleteal85: '20877377413', saddleteal9: '20877377477', saddleteal95: '20877377541', saddleturquoise10: '20877409669', saddleturquoise105: '20877409733', saddleturquoise11: '20877409861', saddleturquoise115: '20877409925', saddleturquoise12: '20877409989', saddleturquoise13: '20877410053', saddleturquoise14: '20877410117', saddleturquoise8: '20877409349', saddleturquoise85: '20877409413', saddleturquoise9: '20877409477', saddleturquoise95: '20877409605', saddlewhite10: '20877425029', saddlewhite105: '20877425093', saddlewhite11: '20877425157', saddlewhite115: '20877425221', saddlewhite12: '20877425285', saddlewhite13: '20877425349', saddlewhite14: '20877425413', saddlewhite8: '20877424773', saddlewhite85: '20877424837', saddlewhite9: '20877424901', saddlewhite95: '20877424965', saddlenavy8: '27451372880', saddlenavy85: '27451373008', saddlenavy9: '27451373072', saddlenavy95: '27451373136', saddlenavy10: '27451373264', saddlenavy105: '27451373328', saddlenavy11: '27451373392', saddlenavy115: '27451373456', saddlenavy12: '27451373584', saddlenavy13: '27451373648', saddlenavy14: '27451373712' };

  var lacesVariantArray = { lacesazuresmall: '26864042256', lacesazuremedium: '20572515653', lacesazurelarge: '26864008592', lacesburntorangesmall: '20850767429', lacesburntorangemedium: '28077208400', lacesburntorangelarge: '28077240080', lacesblacksmall: '20850729285', lacesblackmedium: '28077277712', lacesblacklarge: '28077282192', lacescharcoalsmall: '20850881669', lacescharcoalmedium: '28845669840', lacescharcoallarge: '28845721296', laceschocolatesmall: '20850906885', laceschocolatemedium: '28845894032', laceschocolatelarge: '28845913872', lacescobaltsmall: '20850933765', lacescobaltmedium: '28846017232', lacescobaltlarge: '28846047888', lacescrimsonsmall: '20850972165', lacescrimsonmedium: '28846184656', lacescrimsonlarge: '28846212176', lacesforestsmall: '20851309765', lacesforestmedium: '28846393360', lacesforestlarge: '28846445904', lacesgoldsmall: '28076490256', lacesgoldmedium: '28076814416', lacesgoldlarge: '28076831568', lacesgreysmall: '20851362117', lacesgreymedium: '28846667728', lacesgreylarge: '28846689296', laceskellysmall: '20851397445', laceskellymedium: '28846869520', laceskellylarge: '28846885072', laceslattesmall: '20852065477', laceslattemedium: '28848088464', laceslattelarge: '28848108112', laceslimesmall: '20851552069', laceslimemedium: '28846949328', laceslimelarge: '28846970320', lacesmaroonsmall: '20851602117', lacesmaroonmedium: '28847093072', lacesmaroonlarge: '28847116816', lacesmintsmall: '20851619973', lacesmintmedium: '28847231312', lacesmintlarge: '28847260880', lacesnavysmall: '28530778768', lacesnavymedium: '28531203984', lacesnavylarge: '28531239760', lacesorangesmall: '20851717573', lacesorangemedium: '28847453264', lacesorangelarge: '28847477584', lacespinksmall: '20851684677', lacespinkmedium: '28847583376', lacespinklarge: '28847601488', lacesplumsmall: '20851741957', lacesplummedium: '28847724944', lacesplumlarge: '28847765904', lacesredsmall: '20851830149', lacesredmedium: '28847888528', lacesredlarge: '28847893584', lacesskysmall: '20851872197', lacesskymedium: '28847947024', lacesskylarge: '28847969360', lacestealsmall: '20851920645', lacestealmedium: '28848220112', lacesteallarge: '28848245648', lacesturquoisesmall: '20852105989', lacesturquoisemedium: '28848312784', lacesturquoiselarge: '28848360016', lacesusabluesmall: '20851648581', lacesusabluemedium: '28531378704', lacesusabluelarge: '28531408976', laceswhitesmall: '20852150789', laceswhitemedium: '28848602896', laceswhitelarge: '28848629584' };

// Find URL Params for Initial Load If available ---------------------
  var builderURL = '';
  // query string variables
  var qsShoeColor = getParameterByName('shoe'),
      qsSaddleColor = getParameterByName('saddle'),
      qsLacesColor = getParameterByName('laces'),
      qsShoeSize = getParameterByName('size');

  var initShoeColor = '',
      initSaddleColor =  '',
      initLacesColor =  '',
      initShoeSize =  '';

if (!qsShoeColor) {
  initShoeColor = defaultShoeColor;
} else {
  initShoeColor = qsShoeColor;
}
if (!qsSaddleColor) {
  initSaddleColor = defaultSaddleColor;
} else {
  initSaddleColor = qsSaddleColor;
}
if (!qsLacesColor) {
  initLacesColor = defaultLacesColor;
} else {
  initLacesColor = qsLacesColor;
}
//if (!qsShoeSize) {
  initShoeSize = defaultShoeSize;
//} else {
//  initShoeSize = qsShoeSize;
//}

// INITIALIZE BUILDER ------------------------------------------------

  // Load default shoe, saddle & laces - select in sidebar
  if($('#MPShoeBuilder').length != 0) {
    initShoeBuilder(defaultShoeView,initShoeSize,initShoeColor,initSaddleColor,initLacesColor);
  }
  if(isDevSite){
  } //devsite

  // Color Option Hover
  $('div[rel="change-option-color"]').each(function() {
    // Get hovered item data
    var optionType = $(this).parents('.color-options').attr('data-option-type'),
        optionColor = $(this).attr('data-option-color');
    $(this).hover(function () {
      $('#ShoePreview .'+optionType+'-photo').addClass('hover-'+optionColor);
    },function () {
      $('#ShoePreview .'+optionType+'-photo').removeClass('hover-'+optionColor);
    });
  });
  // Color Option Click
  $('div[rel="change-option-color"]').click(function(event) {
    event.preventDefault();
    var optionType = $(this).parents('.color-options').attr('data-option-type'),
        optionColor = $(this).data('option-color'),
        shoeView = defaultShoeView;
        //shoeView = $('#ShoeView').children('.selected').data('view');

    updateShoeBuilder(false,false,shoeView,optionType,optionColor);

    if (optionType == 'shoe') {
      // If Shoe, Update Saddle & Laces Too
      updateShoeBuilder(false,false,shoeView,'saddle',defaultSaddleColor);
      updateShoeBuilder(false,false,shoeView,'laces',defaultLacesColor);
    } else if (optionType == 'saddle') {
      // If Saddle, Update Laces Too
      updateShoeBuilder(false,false,shoeView,'laces',optionColor);
    }

    // Close the options on mobile
    var isMobile = $('.options').hasClass('mobile');
    if (isMobile) {
      $('.options').hide();
    }
  });

  // Update shoe size 
  $('#shoeSizeSelect').change(function() {
    var shoeSize = $(this).val();
    $('.size-meta').attr('data-option-size',shoeSize);
    updateCart();
    
    var isMobile = $('.options').hasClass('mobile');
    if (isMobile) {
      $('.options').hide();
    }
  });
  // Cart Checkmark Toggles
  $('a[rel="cartToggle"]').click(function(event) {
    event.preventDefault();
    // Get toggle type
    var optionType = $(this).attr('data-cartOption');
    if ($(this).find('i').hasClass('fa-check-square-o')) {
      // Remove Item from Cart & Price
      updateCart(optionType);
    } else {
      // Add Item to Cart & Price
      updateCart('add'+optionType);
    }
    // Update Checkmark Style
    $(this).find('i').toggleClass('fa-check-square-o').toggleClass('fa-square-o');
  });

  // Mobile Options Toggle open/closed
  $('#mobileOptionsToggle').click(function(event) {
    // Add Class to Options to close on click
    $('.options').addClass('mobile');
    // Open Options
    $('.options').show();
  });

  // Change Views
  $('[rel="changeViews"]').click(function(event) {
    var selectedView = $(this).attr('data-view');
    $('[rel="changeViews"]').removeClass('selected');
    // Add Class to Options to close on click
    $(this).addClass('selected');
    // Change View
    $('.photo').removeClass().addClass('photo').addClass('view-'+selectedView);
  });

  // Post items to cart & redirect page
  $('#AddToCartBuilder').click(function(event) {
    event.preventDefault();
    //var variantString = 'updates[20850630085]=1&updates[20852915781]=3';
    var variantString = $(this).attr('data-variants');
    $.post('/cart/update.js', variantString, function(data){
      window.location.href = '/cart';
    },'json');
  });

  // check url for "?cartAdd=true" and add alert on screen
  cartAddAlert();

// FUNCTIONS ---------------------------------------------------------

  // Update Shoe Builder Function
  function updateShoeBuilder(init,hover,shoeView,optionType,optionColor) {
    var optionColorName = optionColor;
    switch(optionColor) {
      case 'burntorange':
          optionColorName = 'Burnt Orange';
          break;
      case 'usablue':
          optionColorName = 'USA Blue';
          break;
      default:
          break;
    }
    // Clear old selections
    $('#ShoePreview .'+optionType+'-photo').removeClass().addClass(optionType+'-photo');
    $('.'+optionType+'-meta span').removeClass();
    // Add New Selection Class to Photo
    $('#ShoePreview .'+optionType+'-photo').addClass(optionColor);
    // Add Meta Data (need option name eventually)
    $('.'+optionType+'-meta span').text(optionColorName).addClass(optionColor);
    $('.'+optionType+'-meta').attr('data-option-color',optionColor);

    if (init == false && hover == false) {
      // Update Price & Cart Button
      updateCart();
      // Update URL 
      builderURL = UpdateQueryString(optionType,optionColor);
      window.history.replaceState('','',builderURL);
    }
    //ADDIN - Update color selction in sidebar
  }

  // Update Cart Options & Price
  function updateCart(forceUpdate) {
    var shoePrice = defaultShoePrice,
        saddlePrice = defaultSaddlePrice,
        lacesPrice = defaultLacesPrice,
        shoeSize = $('.size-meta').attr('data-option-size'),
        shoeColor = $('.shoe-meta').attr('data-option-color'),
        saddleColor = $('.saddle-meta').attr('data-option-color'),
        lacesColor = $('.laces-meta').attr('data-option-color'),
        cartPrice = shoePrice,
        addShoe = true,
        addSaddle = false,
        addLaces = false;

    // hide toggles & reset checkmarks
    if(typeof forceUpdate == 'undefined') {
      $('a[rel="cartToggle"]').hide();
      $('a[rel="cartToggle"]').find('i').removeClass('fa-square-o').addClass('fa-check-square-o');
    }

    if (saddleColor == defaultSaddleColor) {
      // Saddle is default color
      if (lacesColor != saddleColor) {
        cartPrice = (shoePrice+lacesPrice);
        addLaces = true;
        $('#includeLacesToggle').show();
      }
    } else {
      // Saddle is NOT default color
      // 1 - Show Checkmark to Include Shoe
      $('#includeShoeToggle').show();
      $('#includeSaddleToggle').show();
      // 2 - Update Price
      if (lacesColor == saddleColor) {
        // Laces match saddle
        cartPrice = (shoePrice+saddlePrice);
        addSaddle = true;
      } else {
        // Laces do NOT match saddle
        cartPrice = (shoePrice+saddlePrice+lacesPrice);
        addSaddle = true;
        addLaces = true;
        $('#includeLacesToggle').show();
      }
    }
    if (forceUpdate) {
      cartPrice = $('#cartPrice').text();
      cartPrice = cartPrice.replace('$','');
    }
    if (forceUpdate == 'shoe') {
      // remove shoe
      addShoe = false;
      cartPrice = parseInt(cartPrice) - parseInt(shoePrice);
    } else if (forceUpdate == 'addshoe') {
      // add shoe
      addShoe = true;
      cartPrice = parseInt(cartPrice) + parseInt(shoePrice);
    } else if (forceUpdate == 'saddle') {
      // remove saddle
      addSaddle = false;
      cartPrice = parseInt(cartPrice) - parseInt(saddlePrice);
    } else if (forceUpdate == 'addsaddle') {
      // add saddle
      addSaddle = true;
      cartPrice = parseInt(cartPrice) + parseInt(saddlePrice);
    } else if (forceUpdate == 'laces') {
      // remove laces
      addLaces = false;
      cartPrice = parseInt(cartPrice) - parseInt(lacesPrice);
    } else if (forceUpdate == 'addlaces') {
      // add laces
      addLaces = true;
      cartPrice = parseInt(cartPrice) + parseInt(lacesPrice);
    }

    $('#cartPrice').html('$'+cartPrice);
    updateCartButton(addShoe,addSaddle,addLaces,shoeSize,shoeColor,saddleColor,lacesColor);

    //console.log('shoePrice:'+shoePrice+'; saddlePrice:'+saddlePrice+'; lacesPrice:'+lacesPrice+'; saddleColor:'+saddleColor+'; lacesColor:'+lacesColor+'; cartPrice:'+cartPrice);
  }

  // Initialize Shoe Builder 
  function initShoeBuilder(shoeView,shoeSize,shoeColor,saddleColor,lacesColor) {
    updateShoeBuilder(true,false,shoeView,'shoe',shoeColor);
    updateShoeBuilder(true,false,shoeView,'saddle',saddleColor);
    updateShoeBuilder(true,false,shoeView,'laces',lacesColor);
    //$('#shoeSizeSelect').val(shoeSize);
    updateCart();
    $('.shoe-builder').addClass('show');
  }

  // Update Shoe View 
  function updateShoeView(shoeView,shoeColor,saddleColor,lacesColor) {
    // get existing selections

    // clear out preview

    // add new view with correct styles selected
  }

  // updateCartButton
  function updateCartButton(addShoe,addSaddle,addLaces,shoeSize,shoeColor,saddleColor,lacesColor) {
    // Find Ids
    shoeSize = shoeSize.replace('.','');

    var lacesSize = '';
    switch (shoeSize) {
      case '9':
      case '95':
      case '10':
      case '105':
          lacesSize = 'medium';
          break; 
      case '11':
      case '115':
      case '12':
      case '13':
      case '14':
          lacesSize = 'large';
          break;
      default:
        lacesSize = 'small';
    }

    var shoeVariantName = 'shoe'+shoeColor+shoeSize,
        saddleVariantName = 'saddle'+saddleColor+shoeSize,
        lacesVariantName = 'laces'+lacesColor+lacesSize;
    var shoeVariantID = shoeVariantArray[shoeVariantName],
        saddleVariantID = saddleVariantArray[saddleVariantName],
        lacesVariantID = lacesVariantArray[lacesVariantName],
        cartURL = 'https://www.jackgraceusa.com/cart/',
        variantOptionsString = '';
        
    //console.log('shoeSize='+shoeSize+'; addSaddle='+addSaddle+'; addLaces = '+addLaces+'; shoeVariantName = '+shoeVariantName+'; saddleVariantName = '+saddleVariantName+'; lacesVariantName = '+lacesVariantName+'; shoeVariantID = '+shoeVariantID+'; saddleVariantID = '+saddleVariantID+'; lacesVariantID = '+lacesVariantID);
    //return;
    
    // Check for bad variantID OR no Shoe Size
    if (shoeSize == '') {
      // Do Nothing if there's no Shoe Size
    } else if (typeof shoeVariantID === 'undefined' || typeof saddleVariantID == 'undefined' || typeof lacesVariantID == 'undefined') {
      // Bad variantID ERROR - SHow alert & hide add to cart button
      alert('There was an issue with your selection. Please try again and if you still have problems, please contact us.');
      $('#AddToCartBuilder').hide();
      return;
    } else {
      // Otherwise update the cart button
      if (addShoe) {
        cartURL = cartURL + shoeVariantID+':1,';
        variantOptionsString = 'updates['+shoeVariantID+']=1&';
      }
      if (addSaddle) {
        cartURL = cartURL + saddleVariantID+':1,';
        variantOptionsString = variantOptionsString+'updates['+saddleVariantID+']=1&';
      }
      if (addLaces) {
        cartURL = cartURL + lacesVariantID+':1,';
        variantOptionsString = variantOptionsString+'updates['+lacesVariantID+']=1&';
      }

      $('#AddToCartBuilder').attr('href',cartURL).removeClass('btn--disabled');
      $('#AddToCartBuilder').attr('data-variants',variantOptionsString);
    }

  }
  // Get params in url
  function cartAddAlert() {
    var qsCartAdd = getParameterByName('cartAdd'),
        cartAddMessageHTML = '<div class="cart-add-alert">Added to Cart! Continue shopping '+qsCartAdd+' below or <a href="/cart">continue to checkout</a></div>';

    if(qsCartAdd != null) {
      $('.main-content').prepend(cartAddMessageHTML);
      $('body').addClass('cart-add-alert-body');
    }
  }

  // Get params in url
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  function UpdateQueryString(key, value, url) {
    if (!url) url = window.location.href;
    var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
        hash;

    if (re.test(url)) {
        if (typeof value !== 'undefined' && value !== null)
            return url.replace(re, '$1' + key + "=" + value + '$2$3');
        else {
            hash = url.split('#');
            url = hash[0].replace(re, '$1$3').replace(/(&|\?)$/, '');
            if (typeof hash[1] !== 'undefined' && hash[1] !== null) 
                url += '#' + hash[1];
            return url;
        }
    }
    else {
        if (typeof value !== 'undefined' && value !== null) {
            var separator = url.indexOf('?') !== -1 ? '&' : '?';
            hash = url.split('#');
            url = hash[0] + separator + key + '=' + value;
            if (typeof hash[1] !== 'undefined' && hash[1] !== null) 
                url += '#' + hash[1];
            return url;
        }
        else
            return url;
    }
}
});