{{ 'home-page.scss.css' | asset_url | stylesheet_tag }}
<div class="home-page">
	<div class="slide home-hero">
		<div class="inner">
			<h1>Introducing the Innovator</h1>
			<p>The only high performance golf shoe that gives you a new look every time you hit the course.</p>
			<a class="cta-button large" href="#">Visit The Lab</a>
			<ul>
				<li>
					<span>Choose your base shoe color</span>
					<img src="" alt="" />
				</li>
				<li>
					<span>Pick saddles and laces</span>
					<img src="" alt="" />
				</li>
				<li>
					<span>Swap your saddles, tighten your laces, and go</span>
					<img src="" alt="" />
				</li>
			</ul>
		</div>
		<div class="video-bg">&nbsp;</div>
	</div>
	<div class="divider-bar newsletter">
		<div class="inner">
			<h2>Be the First to Know.</h2>
			<p>Sign-up and get notified when the inventory has arrived.</p>
			<div class="newsletter-signup">
				signup form
			</div>
		</div>
	</div>
	<div class="slide shoe-slide">
		<div class="inner">
			<h2>1,875 Possible Looks All in One Shoe</h2>
			<p>Own your look no matter the occasion. Whether you’re playing with your college buddies, a client, or in a tournament, Jack Grace Innovators have you covered.</p>
			<ul class="home-shoe-slide">
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
			</ul>
		</div>
	</div>
	<div class="divider-bar policy">
		<div class="inner">
			<p>Free Shipping Orders over $50*</p>
		</div>
	</div>

</div>
<div class="disclaimer">*US Ground, Domestic US Only</div>
<!--
<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

add media mentions (in html)
Add Instagram Feed (like: http://blythegrace.com/our-firm/
Format faq
(news) Media Coverage- Add 5 to footer - update footer with more links
-->